.searchContainer{
    position: relative;
    max-width: 450px;
    margin: auto;
    padding-top: 5px;
}

.searchContainer .search-input{
    position: relative;
    /* background-color: #fff; */
    width: 100%;
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-2);
}

.search-input input{
    max-width: 450px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: var(--radius-3);
    padding: 0 40px 0 20px;
    font-size: var(--font-size-3);
    /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); */
}

.search-input .icon{
    position: absolute;
    top: 0;
    right: 0;
    height: 55px;
    width: 55px;
    line-height: 40px;
    text-align: center;
    font-size: var(--font-size-2);
    cursor: pointer;
}

.searchResult{
    max-width: 450px;
    background-color: var(--surface4);
    border-radius: 5px;
    padding: var(--size-2);
    margin-top: var(--size-1);
    display: flex;
    box-shadow: var(--shadow-3);
    transition: all 0.3s ease-in-out;
    list-style: none;
    text-decoration: none;
    justify-content: center;
}

.searchResult a{
    /* inline-padding: var(--size-2); */
    color: var(--text3);
    font-shadow: var(--shadow-1);
    font-weight: var(--font-weight-7);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
/* SearchResult hover add padding */
.searchResult:hover a{
    padding: 10px;
    transition: all 0.3s ease-in-out;
}