@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

@import './root.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 78px;
    height: 100%;
    background-color: rgba(var(--c-pacific-blue-rgb), 0.1);
    text-shadow: 0 8px 10px rgba(0,0,0,0.5);
    padding: 6px 14px;
    z-index: 1;
    color: var(--th-accent);
    transition: all 0.5s ease;
}

.sidebar-spacer {
    width: 78px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}

.sidebar-spacer.active {
    width: 240px;
}

/* LOGO */
.sidebar .logo_content .logo {
    color: var(--th-accent);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: auto;
}

.logo_content .logo i {
    font-size: 28px;
    margin-right: 10px;
    color: var(--th-primary);
    text-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}

.logo_content .logo .logo_name {
    font-size: 25px;
    font-weight: 800;
    color: var(--th-primary);
    text-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    /* text-shadow: 0 5px 10px rgba(0, 255, 213, 0.8); */
}

.bx, a {
    text-shadow: 0 0 0 var(--c-raisin-black);
}

/* Button Menu */
.sidebar #btn {
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    color: var(--th-accent);
    transform: translateX(-50%); 
}

#btn:hover, .bx-search-alt:hover {
    color: var(--th-primary);
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: -5px 5px 4px rgba(0, 0, 0, 0.4);
}

.sidebar.active #btn {
    left: 90%;
}

/* LIST */
.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip, .tooltipMenu {
    position: absolute;
    left: 120px;
    top: 0%;
    transform: translateY(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background-color: var(--th-background);
    line-height: 35px;
    text-align: center;
    /* box-shadow: 0 5px 10px rgba(0, 250, 182, 0.8); */
    box-shadow: 0 5px 10px rgba(4, 169, 150, 0.724);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip, .tooltipMenu {
    display: none;
}

.sidebar ul li:hover .tooltip, .tooltipMenu {
    transition: all 0.5s ease;
    opacity: 1;
    pointer-events: auto;
    left: 70px;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: var(--th-background);
    padding-left: 50px;
    font-size: 25px;
    color: var(--th-primary);
}

.sidebar ul li .bx-search-alt {
    position: absolute;
    z-index: 99;
    font-size: 22px;
    
    transition: all 0.5s ease;
}

.sidebar ul li a {
    color: var(--th-primary);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: var(--c-sea-green-crayola);
    background: var(--th-primary);
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

/* .sidebar ul li span {
    color: var(--c-sea-green-crayola);
} */

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}

/* The Main Article */
.body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.home_content {
    flex-grow: 1;
    width: 1px;
    padding-left: 2rem;
}

.sidebar.active ~ .home_content .text {
    width: calc(100% - 240px);
    left: 240px;
}