/*
--th = theme
--c = color
--txt = text
--bg = background
-p = primary
-s = secondary
--hsla = hue saturation lightness alpha
-h = hue
-s = saturation
-l = lightness
-a = alpha

*/

:root {
	--hex-light-grey: hsl(330, 3%, 77%);
	--pri-color-h: 33;
	--pri-color-s: 3%;
	--pri-color-l: 77%;
	--pri-color: hsl(var(--pri-color-h), var(--pri-color-s), var(--pri-color-l));
	--pri-color-light-a: hsla(var(--pri-color-h), var(--pri-color-s), calc(var(--pri-color-l) + var(--lighten)), 0.5);	/* this is taking the hue saturation and then calc lightness by adding 15 to the number. Then adding an alpha of 0.5 */
	--pri-color-dark-a: hsla(var(--pri-color-h), var(--pri-color-s), calc(var(--pri-color-l) + var(--darken)), 0.5);	/* this is taking the hue saturation and then calc lightness by subtracting 15 to the number. Then adding an alpha of 0.5 */

	--black-coffee: hsl(0, 0%, 7%);
	--sec-color-h: 0;
	--sec-color-s: 0%;
	--sec-color-l: 7%;
	--sec-color: hsl(var(--sec-color-h), var(--sec-color-s), var(--sec-color-l));
	--sec-color-light-a: hsla(var(--sec-color-h), var(--sec-color-s), calc(var(--sec-color-l) + var(--lighten)), 0.5);	/* this is taking the hue saturation and then calc lightness by adding 15 to the number. Then adding an alpha of 0.5 */
	--sec-color-dark-a: hsla(var(--sec-color-h), var(--sec-color-s), calc(var(--sec-color-l) + var(--darken)), 0.5);	/* this is taking the hue saturation and then calc lightness by subtracting 15 to the number. Then adding an alpha of 0.5 */

	--steel-teal: #61929e;
	--acc-p-color-h: 192;
	--acc-p-color-s: 24%;
	--acc-p-color-l: 50%;
	--acc-p-color: hsl(var(--acc-p-color-h), var(--acc-p-color-s), var(--acc-p-color-l));
	--acc-p-color-light-a: hsla(var(--acc-p-color-h), var(--acc-p-color-s), calc(var(--acc-p-color-l) + var(--lighten)), 0.5);	/* this is taking the hue saturation and then calc lightness by adding 15 to the number. Then adding an alpha of 0.5 */
	--acc-p-color-dark-a: hsla(var(--acc-p-color-h), var(--acc-p-color-s), calc(var(--acc-p-color-l) + var(--darken)), 0.5);	/* this is taking the hue saturation and then calc lightness by subtracting 15 to the number. Then adding an alpha of 0.5 */


	--myrtle-grey: #32766f;
	--acc-s-color-h: 174;
	--acc-s-color-s: 40%;
	--acc-s-color-l: 33%;
	--acc-s-color: hsl(var(--acc-s-color-h), var(--acc-s-color-s), var(--acc-s-color-l));
	--acc-s-color-light-a: hsla(var(--acc-s-color-h), var(--acc-s-color-s), calc(var(--acc-s-color-l) + var(--lighten)), 0.5);	/* this is taking the hue saturation and then calc lightness by adding 15 to the number. Then adding an alpha of 0.5 */
	--acc-s-color-dark-a: hsla(var(--acc-s-color-h), var(--acc-s-color-s), calc(var(--acc-s-color-l) + var(--darken)), 0.5);	/* this is taking the hue saturation and then calc lightness by subtracting 15 to the number. Then adding an alpha of 0.5 */

	--mint-green: #85ff9d;
	--acc-t-color-h: 132;
	--acc-t-color-s: 100%;
	--acc-t-color-l: 76%;
	--acc-t-color: hsl(var(--acc-t-color-h), var(--acc-t-color-s), var(--acc-t-color-l));
	--acc-t-color-light-a: hsla(var(--acc-t-color-h), var(--acc-t-color-s), calc(var(--acc-t-color-l) + var(--lighten)), 0.5);	/* this is taking the hue saturation and then calc lightness by adding 15 to the number. Then adding an alpha of 0.5 */
	--acc-t-color-dark-a: hsla(var(--acc-t-color-h), var(--acc-t-color-s), calc(var(--acc-t-color-l) + var(--darken)), 0.5);	/* this is taking the hue saturation and then calc lightness by subtracting 15 to the number. Then adding an alpha of 0.5 */


	--lighten: 15%;
	--lighten-2: 30%;
	--lighten-3: 45%;
	--lighten-4: 60%;
	--darken: -15%;
	--darken-2: -30%;
	--darken-3: -45%;
	--darken-4: -60%;
}

:root{
	color-scheme: light;
	--bg-color: var(--pri-color-light);
	--txt-color: var(--sec-color-light);
}
:root {
	--bg-color: var(--sec-color-dark);
	--txt-color: var(--pri-color-dark);
}

body{
	background-color: var(--bg-color);
	color: var(--txt-color);
}

h1 {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--txt-dark);
	margin-bottom: 1rem;
}