---
import './comment';
---
<div class="commentContainer">
    <div class="btnContainer">
        <button id="loadComments">Load Comments</button>
    </div>

    <div id="commentPLaceholder"></div>
</div>