---
import '../styles/theme.postcss';

// Component Imports
import Meta from '../components/MetaTags.astro';
import Navbar from '../components/Navbar.astro';
import BookPostPreview from '../components/bookShelf/PostPreview.astro';
import { getBookPosts, getBlogPosts  } from '../utils/api.astro';
	const { allBookPosts, mostRecentBookPost } = await getBookPosts();
	const { mostRecentBlogPost } = await getBlogPosts();

let title = '<BOOKSHELF />';
let description = 'Looking for something to read next? Consider checking out my book shelf!';
let permalink = '#';

---

<html lang="en">
	<head>
		<Meta title={title} description={description} permalink={permalink} />

		<style>
		</style>
	</head>

	<body>
		<div class="body">
			<div class="home_content">
				<Navbar />
				<main class="content">
					<section class="intro">
						<h1 class="latest">{ title }</h1>
						<p>"If you're afraid of something then do things in fear."</p>
						<br/>
						<p>{ description }</p>
					</section>
					<section aria-label="Book post list" class='container'>
						{allBookPosts.map((p) => <BookPostPreview post={p} />)}
					</section>
				</main>
			</div>
		</div>
	</body>
</html>


