---
// https://codepen.io/ali-jasim/pen/rNeGKOR
import '../styles/root.css';
// Component Imports
import Meta from '../components/MetaTags.astro';
import Cursor from '../components/cursorEffect/Cursor.astro';
import Header from '../components/Header.astro';
import Aside from '../components/Aside.astro';
import BlogPostPreview from '../components/blog/PostPreview.astro';
import Search from '../components/search/Search';
import { getBlogPosts } from '../utils/api.astro';
	const { allBlogPosts } = await getBlogPosts();

const title = '<BLOG />';
const description = 'Hi! My name is Mark Spratt. I am a software engineer who started a blog!';
const permalink = '#';
---

<html lang="en">
	<head>
		<Meta title={title} description={description} permalink={permalink} />
		<script src="https://kit.fontawesome.com/e2fcf864fc.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<Cursor />
		<Header />
		<div class="container">
			<Aside />
			<main>{allBlogPosts.map((p) => <BlogPostPreview post={p} />)}</main>
		</div>
	</body>
</html>

<script>

</script>

<style>

/*----------------Start Body----------------*/
/* Body content in 2 rows */
.container {
	display: flex;
	flex-direction: row;
	justify-content: center;

}
main{
    display: flex;
	flex-direction: column;
    max-width: 1200px;
}

</style>

