---
import '../styles/theme.postcss';

---
<select id="theme-switcher">
    <option value='auto' id='auto'>Auto</option>
    <option value='light' id='light'>Light</option>
    <option value='dark' id='dark'>Dark</option>
    <option value='dim' id='dim'>Dim</option>
    <option value='red' id='red'>Red</option>
    <option value='teal' id='teal'>Teal</option>
    <option value='grape' id='grape'>Grape</option>
    <option value='candy' id='candy'>Candy</option>
</select>

<script>
    const switcher = document.querySelector('#theme-switcher'); // select the switcher

    switcher.addEventListener('input', e =>
    setTheme(e.target.value))
    // set the theme on input and save to local storage

    const setTheme = theme => {
        document.documentElement.setAttribute('color-scheme', theme);
        localStorage.setItem('color-scheme', theme);
    }
    // set the theme on load
    setTheme(localStorage.getItem('color-scheme') || 'auto');
</script>

<style lang="scss">

select {
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;
    max-width: 6rem;
    height: 100%;
    border-bottom: 0px;
    border-radius: var(--border-radius);
    font-size: 18px;
    background: var(--surface2);
    color: var(--text1);
    highlight: var(--surface2);
    outline: none;
}
    </style>