---
import '../styles/theme.postcss';


---
<form id="theme-switcher">
    <div>
      <input checked type="radio" id="auto" name="theme" value="auto">
      <label for="auto">Auto</label>
    </div>
    <div>
        <input type="radio" id="light" name="theme" value="light">
        <label for="light">Light</label>
    </div>
    <div>
        <input type="radio" id="dark" name="theme" value="dark">
        <label for="dark">Dark</label>
    </div>
    <div>
        <input type="radio" id="dim" name="theme" value="dim">
        <label for="dim">Dim</label>
    </div>
    <div>
        <input type="radio" id="teal" name="theme" value="teal">
        <label for="teal">Teal</label>
    </div>
    <div>
        <input type="radio" id="grape" name="theme" value="grape">
        <label for="grape">Grape</label>
    </div>
</form>
<!-- <div id='toggle'>
    <i class='indicator'></i>
</div> -->

<script>


    const switcher = document.querySelector('#theme-switcher')
const doc = document.firstElementChild

switcher.addEventListener('input', e =>
  setTheme(e.target.value))

const setTheme = theme =>
  doc.setAttribute('color-scheme', theme)

//   setTheme.addEventListener('change', function() {
//     if (this.checked) {
//         document.body.classList.add('dark');
//     } else {
//         document.body.classList.remove('dark');
//     }
// }

</script>

<style lang="postcss">

</style>