---
import '../styles/theme.css';

---

<body>
    
<div id='toggle'>
    <i class='indicator'></i>
</div>

</body>

<style>

/* align toggle center vertically */
#toggle{
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 16px;
    background: #222;
    transition: 0.5s;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1);
}

</style>