---
import Search from '../components/Search/Search';
import { getPosts } from '../utils/api.astro';
const allPosts = await getPosts();
---

<header class="nav">
    <div class="logo">
        <h2><a href="/">&lt;BLACKSKIES &#47;&gt;</a></h2>
    </div>
    <div class="menu">
        <ul>
            <li class="home"><a href="/">Home</a></li>
          
            <div class="leftcontainer">
                <li><Search posts={allPosts} /></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Hire Me</a></li>
            </div>
        </ul>
    </div>
</header>

<style>
/*-------------------Start Header-------------------*/

header{
    width: 100%;
    height:60px;
    padding: 0 10px;
    background-color: #f1f1f1;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* sticky */
    position: sticky;
}

/*--------------Logo----------------*/
.logo{
    line-height: 60px;
}

h2 a{
    text-decoration: none;
    color: #252525;
}

/*----------------Menu---------------*/
/* menu top and stretch length of window */

/* align all items horizontally */
.menu{
    float: right;
    line-height: 60px;
}

/* menu ul line-style:none vertical: middle using flex */
.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    
    line-height: 60px;
}

.menu ul li{
    display: inline-block;
    padding-left: 30px;
}

.menu ul li a{
    text-decoration: none;
    color: #4b4949;
}

.menu ul .active{
    color: #000000;
    font-weight: 600;
}

</style>