---
import Search from '../components/search/Search';
import {getSearchData} from '../utils/api.astro';
import Dark from '../components/darkmode.astro';

const posts = await getSearchData();
---
<header>
    <nav class="navbar" id="nav">
            <a href="/" class="logo">
                <!-- <img src='../assets/LOGO.svg' width={90} height={90} alt='Logo' /> -->
                <div class='brand'>&lt;Blackskies &#47;&gt;</div>
            </a>
        
        <ul class="nav-menu">
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">About</a></li>
            <li><a href="/HireMe" class="nav-link">Hire Me</a></li>
            <li>
                <Dark />
            </li>
        </ul>
        <div class="hamburger">
            <i class="fa-duotone fa-angles-down"></i>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span> 
        </div>
    </nav>
</header>

<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
</script>

<style>
/*-------------------Start Navbar-------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--surface3);
    width:100%;
}

li {
    list-style: none;
}

a {
    color: var(--text1);
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    alight-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-10);
}

.logo{
    font-size: 2rem;
    padding-top: 0.5rem;
    white-space: nowrap;
}

.nav-link {
    transition: 0.7s ease;
    white-space: nowrap;
}

.nav-link:hover {
    color: var(--text3);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    width: 3px;
    margin: 5px auto;
    --webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--surface2);
}

@media(max-width: 768px){
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg)
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg)
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active{
        left: 0;
    }
}
</style>
<!-- 
<div class="searchContainer">
    <Search  client:load posts={posts} />
</div> -->