---
import Search from '../components/search/Search';
import {getSearchData} from '../utils/api.astro';
import Dark from '../components/darkmode.astro';

const posts = await getSearchData();
---

<div class="brand nav">
    <div class="logoContainer">
        <a href="/" class="logo">
            <!-- <img src='../assets/LOGO.svg' width={90} height={90} alt='Logo' /> -->
            <h2 class='brand'>&lt;BLACKSKIES &#47;&gt;</h2>
        </a>
    </div>
    <div class="searchContainer">
        <Search  client:load posts={posts} />
    </div>
    <div class="menu">
        <ul class="hamburger">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/HireMe">Hire Me</a></li>
            <li>
                <Dark />
            </li>
        </ul>
    </div>
</div>


<style>
/*-------------------Start Navbar-------------------*/
.nav {
    /* removed Fixed due to issues with nav being effected by index page container */
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--surface3);
    box-shadow: var(--shadow-2);
    z-index: 1;
}

.logo{
    line-height: 60px;
    white-space: nowrap;
}

.logoContainer {
    display: flex;
    align-items: center;
}

h2 a{
    text-decoration: none;
    color: var(--brand);
}


/*----------------Menu---------------*/
.menu, .hamburger{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 60px;
}
.menu ul li{
    display: inline-block;
    padding-left: 30px;
}
.menu ul li a{
    text-decoration: none;
}
.menu ul .active{
    font-weight: 600;
}
@media (max-width: 930px) {
    .menu{
        height: 100%;
        width: 100%;
    }
    .hamburger{
        display: none;
    }
}
@media (max-width:560px) {
    .logoContainer{
        display: none;
    }
}



/* Make radio buttons and check boxes larger if we have an inaccurate pointing device */
@media (pointer:coarse) {
    input[type="checkbox"], input[type="radio"] {
        min-width:30px;
        min-height:40px;
        background:transparent;
    }
}

</style>