---
import Search from '../components/Search/Search';
import { getPosts } from '../utils/api.astro';
const allPosts = await getPosts();

const posts = Astro.props;
---

<header class="nav">
    <div class="logo">
        <h2><a href="/">&lt;BLACKSKIES &#47;&gt;</a></h2>
    </div>
    <div class="menu">
        <ul>
            <li ><a href="/">Home</a></li>
            <li><Search client:load posts={allPosts} /></li>
            <div class="hamburger">
                <li><a href="#">About</a></li>
                <li><a href="#">Hire Me</a></li>
            </div>
        </ul>
    </div>
</header>

<style>
/*-------------------Start Navbar-------------------*/

header{
    width: 100%;
    height:60px;
    padding: 0 10px;
    background-color: rgb(255, 255, 255, 0.9);
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    z-index: 1;
}

/*--------------Logo----------------*/
.logo{
    line-height: 60px;
}

h2 a{
    text-decoration: none;
    color: #252525;
}

/*----------------Menu---------------*/
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* align all items horizontally */
.menu{
    float: right;
    line-height: 60px;
}

/* menu ul line-style:none vertical: middle using flex */
.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    
    line-height: 60px;
}

.menu ul li{
    display: inline-block;
    padding-left: 30px;
}

.menu ul li a{
    text-decoration: none;
    color: #4b4949;
}

.menu ul .active{
    color: #000000;
    font-weight: 600;
}
/* .listContainer is a dropdown list of search results */
.listContainer{
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
/* .hamburger creates a nav menu when windows size is smaller than 850 wide */
@media (max-width: 850px){
    .hamburger{
        display: none;
    }
}


</style>