---
import Search from '../components/search/Search';
import {getSearchData} from '../utils/api.astro';

const posts = await getSearchData();
---

<header class="nav">
    <div class="logo">
        <h2><a href="/">&lt;BLACKSKIES &#47;&gt;</a></h2>
    </div>
    <Search client:load posts={posts} />
    <div class="menu">
        <ul class="hamburger">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Hire Me</a></li>
            <li>
                <div id='toggle'>
                    <i class='indicator'></i>
                </div>
            </li>
        </ul>
    </div>
</header>


<style>
/*-------------------Start Navbar-------------------*/
header{
    width: 100%;
    padding: 0 20px;
    background-color: rgb(255, 255, 255, 0.9);
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

/*--------------Logo----------------*/
.logo{
    line-height: 60px;
}

h2 a{
    text-decoration: none;
    color: #252525;
}

/*----------------Menu---------------*/
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 60px;
}

.menu ul li{
    display: inline-block;
    padding-left: 30px;
}

.menu ul li a{
    text-decoration: none;
    color: #4b4949;
}

.menu ul .active{
    color: #000000;
    font-weight: 600;
}

/* .hamburger creates a nav menu when windows size is smaller than 850 wide */
@media (max-width: 850px){
    .hamburger{
        display: none;
    }
}

@media (max-width: 700px){
    .menu{
        display: none;
    }
}

</style>