---
import "../../styles/leftSidebar.css";

const { mostRecentPost } = Astro.props;
---
<!--Icons from https://boxicons.com/  -->

    <nav class="sidebar">
<!-- SIDEBAR HEADER -->
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxs-quote-alt-left '></i>
                <span class="logo_name">BlackSkies</span>
            </div>
                <i class='bx bx-menu' id="btn" ></i>
                <span class="tooltipMenu">Menu</span>
        </div>
<!--NAV LIST -->        
        <ul class="nav_list">
            <li>
                <i class='bx bx-search-alt'  ></i>
                <input type='text' name='' placeholder='Search...'>
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a href="/">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href={ mostRecentPost.url }>
                    <i class='bx bx-receipt'></i>
                    <span class="links_name">Most Recent</span>
                </a>
                <span class="tooltip">Most Recent</span>
            </li>
            <li>
                <a href="https://twitter.com/_Hopelezz">
                    <i class='bx bxl-twitter' ></i>
                    <span class="links_name">Twitter</span>
                </a>
                <span class="tooltip">Twitter</span>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/mark-spratt/">
                    <i class='bx bxl-linkedin' ></i>
                    <span class="links_name">LinkedIn</span>
                </a>
                <span class="tooltip">LinkedIn</span>
            </li>
            <li>
                <a href="https://github.com/Hopelezz">
                    <i class='bx bxl-github' ></i>
                    <span class="links_name">GitHub</span>
                </a>
                <span class="tooltip">GitHub</span>
            </li>         
        </ul>
    </nav>
    <div class="sidebar-spacer"></div>

<script>
// Toggle Sidebar
    let btn = document.querySelector('#btn');
    let sidebar = document.querySelector('.sidebar');
    let sidebarSpacer = document.querySelector('.sidebar-spacer');
    let searchBtn = document.querySelector('.bx-search-alt');

    btn.addEventListener('click', () => {
        // TODO: Add `aria-expanded`
        sidebar.classList.toggle('active');     
        sidebarSpacer.classList.toggle('active');
    })

    searchBtn.addEventListener('click', () => {
        sidebar.classList.toggle('active');
        sidebarSpacer.classList.toggle('active');
    })

</script>