---
import "../../styles/leftSidebar.css";
import Search  from "./Search.jsx";
import { getLatestPost } from '../../utils/api.astro';

const { allPosts } = await getLatestPost();

const { mostRecentBlogPost, mostRecentBookPost } = Astro.props;
---
<!--Icons from https://boxicons.com/  -->

    <nav class="sidebar">
<!-- SIDEBAR HEADER -->
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxs-quote-alt-left '></i>
                <span class="logo_name">BlackSkies</span>
            </div>
                <i class='bx bx-menu' id="btn" ></i>
                <span class="tooltipMenu">Menu</span>
        </div>
<!--NAV LIST -->        
        <ul class="nav_list">
            <li>
                <i class='bx bx-search-alt'  ></i>
                <Search client:load allPosts={allPosts} /> 
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a href="/">
                    <i class='bx bxs-book-content'></i>
                    <span class="links_name">Blogs</span>
                </a>
                <span class="tooltip">Blogs</span>
            </li>
            <li>
                <a href={ mostRecentBlogPost.url }>
                    <i class='bx bx-book-content' ></i>
                    <span class="links_name">Recent Blog</span>
                </a>
                <span class="tooltip">Recent Blog</span>
            </li>
            <li>
                <a href="/bookshelf">
                    <i class='bx bxs-book'></i>
                    <span class="links_name">Books</span>
                </a>
                <span class="tooltip">Books</span>
            </li>
            <li>
                <a href={ mostRecentBookPost.url }>
                    <i class='bx bx-book'></i>
                    <span class="links_name">Recent Book</span>
                </a>
                <span class="tooltip">Recent Book</span>
            </li>
            <li>
                <a href="https://twitter.com/_Hopelezz">
                    <i class='bx bxl-twitter' ></i>
                    <span class="links_name">Twitter</span>
                </a>
                <span class="tooltip">Twitter</span>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/mark-spratt/">
                    <i class='bx bxl-linkedin' ></i>
                    <span class="links_name">LinkedIn</span>
                </a>
                <span class="tooltip">LinkedIn</span>
            </li>
            <li>
                <a href="https://github.com/Hopelezz">
                    <i class='bx bxl-github' ></i>
                    <span class="links_name">GitHub</span>
                </a>
                <span class="tooltip">GitHub</span>
            </li>         
        </ul>
    </nav>
    <div class="sidebar-spacer"></div>

<script>
// Toggle Sidebar
    let btn = document.querySelector('#btn');
    let sidebar = document.querySelector('.sidebar');
    let sidebarSpacer = document.querySelector('.sidebar-spacer');
    let searchBtn = document.querySelector('.bx-search-alt');

    btn.addEventListener('click', () => {
        // TODO: Add `aria-expanded`
        sidebar.classList.toggle('active');     
        sidebarSpacer.classList.toggle('active');
    })

    searchBtn.addEventListener('click', () => {
        sidebar.classList.toggle('active');
        sidebarSpacer.classList.toggle('active');
    })


</script>
