---
import "../../styles/sidebar.css"

---
<!--Icons from https://boxicons.com/  -->
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">

                <i class='bx bxs-quote-alt-left'></i>
                <div class="logo_name">BlackSkies</div>
                
            </div>
            <i class='bx bx-menu' id="btn" ></i>

<!--NAV LIST -->        
            <ul class="nav_list">
                <li>
                    <i class='bx bx-search-alt' ></i>
                    <input type='text' name='' placeholder='Search...'>
                    <!-- <span class="tooltip">Search</span> -->
                </li>
                <li>
                    <a href="/">
                        <i class='bx bx-grid-alt' ></i>
                    <span class="links_name">Dashboard</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="http://">
                    <i class='bx bx-receipt'></i>
                    <span class="links_name">Most Recent</span>
                    </a>
                    <!-- <span class="tooltip">Most Recent</span> -->
                </li>
                <li>
                    <a href="https://twitter.com/_Hopelezz">
                        <i class='bx bxl-twitter' ></i>
                    <span class="links_name">Twitter</span>
                    </a>
                    <!-- <span class="tooltip">Twitter</span> -->
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/mark-spratt/">
                        <i class='bx bxl-linkedin' ></i>
                    <span class="links_name">LinkedIn</span>
                    </a>
                    <!-- <span class="tooltip">LinkedIn</span> -->
                </li>
                <li>
                    <a href="https://github.com/Hopelezz">
                        <i class='bx bxl-github' ></i>
                    <span class="links_name">GitHub</span>
                    </a>
                    <!-- <span class="tooltip">GitHub</span> -->
                </li>
                
            </ul>

<!-- PROFILE -->
            <div class="profile_content">
                <div class="profile">
                    <div class="profile_details">
                        <img src="../../assets/images/LOGO.png" alt="LOGO">
                        <div class="name_job">
                            <div class="name">Mark Spratt</div>
                            <div class="job">Software Engineer</div>
                        </div>  <!-- end of name_job -->
                    </div> <!-- profile_details -->
                    <i class='bx bx-log-out' id="logout" ></i> 
                    <!-- Removed till Profiles are implemented -->
                </div> <!-- profile -->
            </div>  <!-- end of profile_content -->
        </div>   <!-- end of logo_content -->
    </div>  <!-- end of sidebar -->

    <div class="home_content">
        <div class="text">Home Content         
        </div>
    </div>

</body>