---
import "../../styles/sidebar.css";

---
<!--Icons from https://boxicons.com/  -->

    <nav class="sidebar">
<!-- SIDEBAR HEADER -->
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxs-quote-alt-left '></i>
                <span class="logo_name">BlackSkies</span>
            </div>
                <i class='bx bx-menu' id="btn" ></i>
                <span class="tooltipMenu">Menu</span>
        </div>
<!--NAV LIST -->        
        <ul class="nav_list">
            <li>
                <i class='bx bx-search-alt'  ></i>
                <input type='text' name='' placeholder='Search...'>
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a href="/">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="posts/helloWorld">
                    <i class='bx bx-receipt'></i>
                    <span class="links_name">Most Recent</span>
                </a>
                <span class="tooltip">Most Recent</span>
            </li>
            <li>
                <a href="https://twitter.com/_Hopelezz">
                    <i class='bx bxl-twitter' ></i>
                    <span class="links_name">Twitter</span>
                </a>
                <span class="tooltip">Twitter</span>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/mark-spratt/">
                    <i class='bx bxl-linkedin' ></i>
                    <span class="links_name">LinkedIn</span>
                </a>
                <span class="tooltip">LinkedIn</span>
            </li>
            <li>
                <a href="https://github.com/Hopelezz">
                    <i class='bx bxl-github' ></i>
                    <span class="links_name">GitHub</span>
                </a>
                <span class="tooltip">GitHub</span>
            </li>         
        </ul>
    </nav>
    <div class="sidebar-spacer"></div>

    
<style>
    :root{
    --shadow-color: #14011dbe;
}
    /* Sets the Shadow of i */
i {
    text-shadow: 0px 0px 0 var(--shadow-color);
}
</style>

<script>
// Toggle Sidebar
    let btn = document.querySelector('#btn');
    let sidebar = document.querySelector('.sidebar');
    let sidebarSpacer = document.querySelector('.sidebar-spacer');
    let searchBtn = document.querySelector('.bx-search-alt');

    btn.addEventListener('click', () => {
        // TODO: Add `aria-expanded`
        sidebar.classList.toggle('active');     
        sidebarSpacer.classList.toggle('active');
    })

    searchBtn.onclick = function () {
        sidebar.classList.toggle('active');
        sidebarSpacer.classList.toggle('active');
    }

// // Create shadow based mouse location
//     const hero = document.querySelector('.hero');
    
//     const text = document.querySelector('i');
//     const walk = 100; //100px

//     function shadow(e){
           
//         const { offsetWidth: width, offsetHeight: height } = hero;
        
//         let { offsetX: x, offsetY: y } = e;
        
//         if(this !== e.target){
//             x = x + e.target.offsetLeft;
//             y = y + e.target.offsetTop;
//         }
   
//         // if (e.currentTarget == e.target) { 
//         //     x = x + e.target.offsetLeft;
//         //     y = y + e.target.offsetTop;
//         // }

//         const xWalk = Math.round((x / width * walk ) - ( walk / 2 ));
//         const yWalk = Math.round((y / height * walk ) - ( walk / 2 ));
//         text.style.textShadow = `${xWalk}px ${yWalk}px 0 rgba(0, 0, 0, 1)`;

//         console.log('success', text.style.textShadow)
//     }

//     hero.addEventListener("mouseover", shadow);




const hero = document.querySelector('.hero')
const text = hero.querySelector('i')

//how far should the text shadow go
const walk = 100; //px

//function that moves the shadow by moving the mouse in the hero div
const shadow = function(e){
    //the measure differs if we resize the window of the browser -responsive element
    //offsetWidth gives the measurement in pixels of the element's CSS width
    //offsetHeight gives the measurement in pixels of the element's CSS height

    //measures of the hero div
    const width = this.offsetWidth;
    const height = this.offsetHeight;

    //the exact measure pixel in the hero where the mouse is moving (e -mousemove) in x and y
    let x = e.offsetX
    let y = e.offsetY
    //console.log(x,y)
        
    //we want  to update the values of x and y exaclty near by the text h1 top left, to start there.
    if(this !== e.target) {
        x = x + e.target.offsetLeft;
        y = y + e.target.offsetTop;
    }

    //Math.round() method returns  the value of a number rounder to the neareast integer

    const xWalk = Math.round(( x / width * walk) - (walk / 2))
    const yWalk = Math.round(( y /height * walk) - (walk / 2))

    //having  already the values of walk of x and y its time to add a style in our h1
    text.style.textShadow = `
    ${xWalk}px ${yWalk}px  var(--shadow-color)`;
   
}



hero.addEventListener('mousemove', shadow)

</script>