---
import "../../styles/sidebar.css";

---
<!--Icons from https://boxicons.com/  -->

    <nav class="sidebar">
<!-- SIDEBAR HEADER -->
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxs-quote-alt-left hero'></i>
            <div class="logo_name">BlackSkies</div>
            </div>
            <i class='bx bx-menu hero' id="btn" ></i>
            <span class="tooltipMenu">Menu</span>
        </div>
<!--NAV LIST -->        
        <ul class="nav_list">
            <li>
                <i class='bx bx-search-alt'  ></i>
                <input type='text' name='' placeholder='Search...'>
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a href="/">
                    <i class='bx bx-grid-alt' id="hero" ></i>
                <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="posts/helloWorld">
                <i class='bx bx-receipt hero'></i>
                <span class="links_name">Most Recent</span>
                </a>
                <span class="tooltip">Most Recent</span>
            </li>
            <li>
                <a href="https://twitter.com/_Hopelezz">
                    <i class='bx bxl-twitter hero' ></i>
                <span class="links_name">Twitter</span>
                </a>
                <span class="tooltip">Twitter</span>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/mark-spratt/">
                    <i class='bx bxl-linkedin' ></i>
                <span class="links_name">LinkedIn</span>
                </a>
                <span class="tooltip">LinkedIn</span>
            </li>
            <li>
                <a href="https://github.com/Hopelezz">
                    <i class='bx bxl-github' ></i>
                <span class="links_name">GitHub</span>
                </a>
                <span class="tooltip">GitHub</span>
            </li>         
        </ul>
<!-- PROFILE -->
            <!-- <div class="profile_content">
                <div class="profile">
                    <div class="profile_details">
                        <img src="../../assets/images/LOGO.png" alt="LOGO">
                        <div class="name_job">
                            <div class="name">Mark Spratt</div>
                            <div class="job">Software Engineer</div>
                        </div>
                    </div>
                    <i class='bx bx-log-out' id="logout" ></i> 
                </div> -->
    </nav>
    <div class="sidebar-spacer"></div>

    <style>
        .bx{
            text-shadow: -3px 5px 0 rgba(0,0,0,0.2);
        }
    </style>

<script>
    // Toggle Sidebar
    let btn = document.querySelector('#btn');
    let sidebar = document.querySelector('.sidebar');
    let sidebarSpacer = document.querySelector('.sidebar-spacer');
    let searchBtn = document.querySelector('.bx-search-alt');

    btn.addEventListener('click', () => {
        // TODO: Add `aria-expanded`
        sidebar.classList.toggle('active');     
        sidebarSpacer.classList.toggle('active');
    })

    searchBtn.onclick = function () {
        sidebar.classList.toggle('active');
        sidebarSpacer.classList.toggle('active');
    }

// create shadow based mouse location
    const bx = document.querySelector('.bx');
    const text = bx.querySelector('i');
    const walk = 100; //100px
    function shadow(e){
        const width = bx.offsetWidth;
        const height = bx.offsetHeight;
        let { offsetX: x, offsetY: y } = e;

        if (this !== e.target) {
            x = x + e.target.offsetLeft;
            y = y + e.target.offsetTop;
        }

        const xWalk = Math.round((x / width * walk) - (walk / 2));
        const yWalk = Math.round((y / height * walk) - (walk / 2));

        text.style.textShadow = `
            ${xWalk}px ${yWalk}px 0 rgba(0, 0, 0, 0.7)
        `;
    }

    hero.addEventListener("mouseover", shadow);
</script>