---

---

<div class="icons">
    <a href="https://twitter.com/_Hopelezz" class="ml-10" aria-label="Twitter" rel="noopener">
      <i class="fa-brands fa-twitter"></i>
    </a>

    <a href="https://www.youtube.com/user/panzerlink" class="ml-4" aria-label="YouTube"
      rel="noopener">
      <i class="fa-brands fa-youtube"></i>
    </a>

    <a href="https://github.com/Hopelezz" class="ml-4" aria-label="Github" rel="noopener">
      <i class="fa-brands fa-github"></i>
    </a>

    <a href="/HireMe" class="ml-4" aria-label="Email" rel="noopener">
      <i class="fa-regular fa-at"></i>
    </a>

    <a href="astro.build" class="ml-4" aria-label="Astro" rel="noopener">
      <i class="fa-light fa-rocket-launch"></i>
    </a>
</div>


<style>
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    font-size: var(--font-size-5);
    margin-left: 5px;
    margin-right: 5px;
    color: var(--brand);
}
i:hover {
    color: var(--brand-alt);
}
</style>